---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nutri Valley - Υγιεινές επιλογές για όλη την οικογένεια">
  <div class="page-wrapper">
    <!-- ===== STICKY NAVBAR ===== -->
    <div class="navbar-wrapper" id="navbarWrapper">
      <div class="navbar">
        <!-- Green Products Button -->
        <div class="navbar__products-btn" id="productsBtn">
          <div class="navbar__hamburger">
            <span></span>
            <span></span>
          </div>
          <span class="navbar__products-label">ΠΡΟΪΟΝΤΑ</span>
        </div>

        <!-- Center White Pill -->
        <div class="navbar__center-pill">
          <a href="/" class="navbar__logo">
            <img class="navbar__logo-leaf" src="/img/path-51-1@1x.webp" alt="Nutri Valley Leaf" />
            <img class="navbar__logo-text" src="/img/group-33-1@1x.webp" alt="Nutri Valley" />
            <img class="navbar__logo-dot" src="/img/path-50@1x.webp" alt="" />
          </a>
          <div class="navbar__links">
            <a href="#recipes" class="navbar__link">ΣΥΝΤΑΓΕΣ</a>
            <a href="#" class="navbar__link">ΔΙΑΓΩΝΙΣΜΟΙ</a>
            <a href="#events" class="navbar__link">EVENTS</a>
            <a href="#blog" class="navbar__link">BLOG</a>
            <a href="#about" class="navbar__link">ΣΧΕΤΙΚΑ</a>
            <a href="#contact" class="navbar__link">ΕΠΙΚΟΙΝΩΝΙΑ</a>
          </div>
        </div>

        <!-- Globe/Language Button -->
        <div class="navbar__circle-btn navbar__circle-btn--globe">
          <div class="globe-icon">
            <div class="globe-icon__circle"></div>
            <img class="globe-icon__vert1" src="/img/path-64-1@1x.webp" alt="" />
            <img class="globe-icon__vert2" src="/img/path-65-1@1x.webp" alt="" />
            <img class="globe-icon__horiz1" src="/img/line-12-1@1x.webp" alt="" />
            <img class="globe-icon__horiz2" src="/img/line-12-1@1x.webp" alt="" />
          </div>
        </div>

        <!-- Search Button -->
        <div class="navbar__circle-btn navbar__circle-btn--search">
          <div class="search-icon">
            <img class="search-icon__line" src="/img/line-11-1@1x.webp" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- Mega Menu Overlay -->
    <div class="mega-menu-overlay" id="megaOverlay"></div>

    <!-- Mega Menu -->
    <div class="mega-menu" id="megaMenu">
      <div class="mega-menu__left">
        <div class="mega-menu__category active" data-category="adults">
          <span class="mega-menu__category-name">ΠΡΟΪΟΝΤΑ ΓΙΑ ΕΝΗΛΙΚΕΣ</span>
          <img class="mega-menu__arrow" src="/img/path-36@1x.webp" alt="" />
        </div>
        <div class="mega-menu__category" data-category="kids" style="margin-top: 20px;">
          <span class="mega-menu__category-name">ΠΑΙΔΙΚΑ ΠΡΟΪΟΝΤΑ</span>
          <img class="mega-menu__arrow" src="/img/path-36@1x.webp" alt="" />
        </div>
        <div class="mega-menu__subcategories" id="megaSubcats">
          <div class="mega-menu__subcat-column">
            <a href="#">Premium Κονσέρβες</a>
            <a href="#">Μπάρες Πρωτεΐνης</a>
            <a href="#">Γκοφρέτες</a>
            <a href="#">Ταχίνι</a>
          </div>
          <div class="mega-menu__subcat-column">
            <a href="#">Γκρανόλα</a>
            <a href="#">Νιφάδες Βρώμης</a>
            <a href="#">Νιφάδες Καλαμποκιού</a>
          </div>
        </div>
      </div>
      <div class="mega-menu__right" id="megaRight">
        <!-- Adults content -->
        <div class="mega-right__adults" id="megaRightAdults">
          <img src="/img/group-25@1x.webp" alt="Nutri Valley Products" />
        </div>
        <!-- Kids content -->
        <div class="mega-right__kids" id="megaRightKids" style="display: none;">
          <div class="kids-cards-row">
            <div class="kids-card">
              <div class="kids-card__img" style="background-image: url('/img/kids-card-peppa@1x.webp');"></div>
              <img class="kids-card__logo" src="/img/logo-peppa@1x.webp" alt="Peppa Pig" />
            </div>
            <div class="kids-card">
              <div class="kids-card__img" style="background-image: url('/img/kids-card-pjmasks@1x.webp');"></div>
              <img class="kids-card__logo" src="/img/logo-pjmasks@1x.webp" alt="PJ Masks" />
            </div>
            <div class="kids-card">
              <div class="kids-card__img" style="background-image: url('/img/kids-card-minions@1x.webp');"></div>
              <img class="kids-card__logo" src="/img/logo-minions@1x.webp" alt="Minions" />
            </div>
            <div class="kids-card">
              <div class="kids-card__img" style="background-image: url('/img/kids-card-scooby@1x.webp');"></div>
              <img class="kids-card__logo" src="/img/logo-scooby@1x.webp" alt="Scooby-Doo" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===== HERO SECTION ===== -->
    <section class="hero-section">
      <div class="hero-slider">
        <div class="hero-slider__track slide-1" id="heroTrack">
          <!-- Slide 1: Kids -->
          <div class="hero-slide" style="background-image: url('/img/group-31-1@1x.webp');">
            <div class="hero-slide__content" style="top: 200px;">
              <h1 class="hero-slide__title">ΚΑΝΕ ΤΟ ΠΡΩΙΝΟ ΤΟΥΣ...<br>ΤΗ ΣΤΙΓΜΗ ΤΗΣ ΗΜΕΡΑΣ!</h1>
              <p class="hero-slide__subtitle">Οι ήρωες που αγαπούν τα παιδιά, σε προϊόντα που αγαπούν οι γονείς.</p>
              <div class="hero-slide__cta">
                <a href="#" class="cta-btn cta-btn--dark">
                  <span>ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</span>
                  <img class="btn-texture" src="/img/mask-group-2-1@1x.webp" alt="" />
                </a>
              </div>
            </div>
          </div>
          <!-- Slide 2: Adults -->
          <div class="hero-slide" style="background-image: url('/img/group-31@1x.webp');">
            <div class="hero-slide__content" style="top: 200px;">
              <h2 class="hero-slide__title">ΑΠΟΛΑΥΣΗ &amp; ΙΣΟΡΡΟΠΙΑ<br>ΣΕ ΚΑΘΕ ΕΠΙΛΟΓΗ</h2>
              <p class="hero-slide__subtitle">Θρεπτικές επιλογές σχεδιασμένες για τον σύγχρονο τρόπο ζωής.</p>
              <div class="hero-slide__cta">
                <a href="#" class="cta-btn cta-btn--dark">
                  <span>ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</span>
                  <img class="btn-texture" src="/img/mask-group-2-1@1x.webp" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrows -->
        <div class="hero-slider__arrow hero-slider__arrow--left" id="heroLeft">
          <img src="/img/path-69@1x.webp" alt="Previous" />
        </div>
        <div class="hero-slider__arrow hero-slider__arrow--right" id="heroRight">
          <img src="/img/path-66@1x.webp" alt="Next" />
        </div>
      </div>
    </section>

    <!-- ===== ADULT PRODUCTS ===== -->
    <section class="adult-products" id="adult-products">
      <h2 class="adult-products__title bold-32">ΠΡΟΪΟΝΤΑ ΓΙΑ ΕΝHΛΙΚΕΣ</h2>
      <p class="adult-products__desc regular-17">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
      </p>
      <div class="adult-products__slider">
        <div class="adult-products__arrow adult-products__arrow--left" id="adultLeft">
          <img src="/img/path-69@1x.webp" alt="Previous" />
        </div>
        <div class="adult-products__cards" id="adultCards">
          <div class="adult-product-card" data-bg="/img/group-40-1@1x.webp">
            <span class="adult-product-card__name">PREMIUM<br>ΚΟΝΣΕΡΒΕΣ</span>
          </div>
          <div class="adult-product-card" data-bg="/img/group-42@1x.webp">
            <span class="adult-product-card__name">ΜΠΑΡΕΣ<br>ΠΡΩΤΕΪΝΗΣ</span>
          </div>
          <div class="adult-product-card" data-bg="/img/group-48@1x.webp">
            <span class="adult-product-card__name">ΓΚΟΦΡΕΤΕΣ</span>
          </div>
          <div class="adult-product-card" data-bg="/img/group-44@1x.webp">
            <span class="adult-product-card__name">ΤΑΧΙΝΙ</span>
          </div>
          <div class="adult-product-card" data-bg="/img/group-46@1x.webp">
            <span class="adult-product-card__name">ΝΙΦΑΔΕΣ<br>ΒΡΩΜΗΣ</span>
          </div>
          <div class="adult-product-card" data-bg="/img/group-40-1@1x.webp">
            <span class="adult-product-card__name">PREMIUM<br>ΚΟΝΣΕΡΒΕΣ</span>
          </div>
        </div>
        <div class="adult-products__arrow adult-products__arrow--right" id="adultRight">
          <img src="/img/path-66@1x.webp" alt="Next" />
        </div>
      </div>
      <div class="adult-products__cta">
        <a href="#" class="cta-btn cta-btn--dark">
          <span>ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</span>
          <img class="btn-texture" src="/img/mask-group-2-1@1x.webp" alt="" />
        </a>
      </div>
    </section>

    <!-- ===== KIDS PRODUCTS ===== -->
    <section class="kids-products" id="kids-products">
      <h2 class="kids-products__title bold-32">ΠΑΙΔΙΚΑ ΠΡΟΪΟΝΤΑ</h2>
      <p class="kids-products__desc regular-17">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
      </p>
      <div class="kids-products__cards">
        <div class="kids-product-card" data-bg="/img/group-52@1x.webp">
          <img class="kids-product-card__logo" src="/img/rectangle-52@1x.webp" alt="Brand Logo" style="width: 146px; height: 70px; top: 60px;" />
          <div class="kids-product-card__btn">
            <span>ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</span>
            <img class="btn-texture" src="/img/mask-group-4-1@1x.webp" alt="" />
          </div>
        </div>
        <div class="kids-product-card" data-bg="/img/group-54@1x.webp">
          <img class="kids-product-card__logo" src="/img/rectangle-53@1x.webp" alt="Brand Logo" style="width: 146px; height: 70px; top: 60px;" />
          <div class="kids-product-card__btn">
            <span>ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</span>
            <img class="btn-texture" src="/img/mask-group-4-1@1x.webp" alt="" />
          </div>
        </div>
        <div class="kids-product-card" data-bg="/img/group-56@1x.webp">
          <img class="kids-product-card__logo kids-product-card__logo--wide" src="/img/group-61@1x.webp" alt="Brand Logo" />
          <div class="kids-product-card__btn">
            <span>ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</span>
            <img class="btn-texture" src="/img/mask-group-4-1@1x.webp" alt="" />
          </div>
        </div>
        <div class="kids-product-card" data-bg="/img/group-99@1x.webp">
          <img class="kids-product-card__logo kids-product-card__logo--wider" src="/img/rectangle-79@1x.webp" alt="Brand Logo" />
          <div class="kids-product-card__btn">
            <span>ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</span>
            <img class="btn-texture" src="/img/mask-group-4-1@1x.webp" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- ===== ABOUT SECTION ===== -->
    <section class="about-section" id="about">
      <div class="about-card">
        <p class="about-card__statement bold-21">
          Η NUTRI VALLEY ΔΗΜΙΟΥΡΓΕΙ ΠΡΟΪΟΝΤΑ ΠΟΥ ΚΑΝΟΥΝ ΤΗΝ ΚΑΘΗΜΕΡΙΝΗ ΔΙΑΤΡΟΦΗ ΠΙΟ ΕΥΚΟΛΗ, ΠΙΟ ΥΓΙΕΙΝΗ ΚΑΙ ΠΙΟ ΑΠΟΛΑΥΣΤΙΚΗ ΓΙΑ ΜΙΚΡΟΥΣ ΚΑΙ ΜΕΓΑΛΟΥΣ.
        </p>
        <div class="about-card__checklist">
          <div class="about-card__checklist-item">
            <img src="/img/path-71@1x.webp" alt="✓" />
            <span class="about-card__checklist-text">Υγιεινές και απολαυστικές επιλογές για όλες τις ηλικίες</span>
          </div>
          <div class="about-card__checklist-item">
            <img src="/img/path-71@1x.webp" alt="✓" />
            <span class="about-card__checklist-text">Πλούσια γεύση, ισορροπημένα συστατικά</span>
          </div>
          <div class="about-card__checklist-item">
            <img src="/img/path-71@1x.webp" alt="✓" />
            <span class="about-card__checklist-text">Κατάλληλα για κάθε στιγμή της ημέρας</span>
          </div>
          <div class="about-card__checklist-item">
            <img src="/img/path-71@1x.webp" alt="✓" />
            <span class="about-card__checklist-text">Ποιοτικά προϊόντα από αξιόπιστες πρώτες ύλες</span>
          </div>
          <div class="about-card__checklist-item">
            <img src="/img/path-71@1x.webp" alt="✓" />
            <span class="about-card__checklist-text">Παιδικές σειρές με ήρωες που λατρεύουν τα παιδιά</span>
          </div>
        </div>
        <div class="about-card__cta">
          <a href="#" class="cta-btn cta-btn--green">
            <span>ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</span>
            <img class="btn-texture" src="/img/mask-group-2-1@1x.webp" alt="" />
          </a>
        </div>
      </div>
    </section>

    <!-- ===== RECIPES SECTION ===== -->
    <section class="recipes-section" id="recipes">
      <h2 class="recipes-section__title bold-32">ΣΥΝΤΑΓΕΣ ΜΕ ΤΑ ΠΡΟΪΟΝΤΑ ΜΑΣ</h2>
      <p class="recipes-section__desc regular-17">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
      </p>
      <div class="recipes-section__cards">
        <div class="recipe-card">
          <div class="recipe-card__image" data-bg="/img/group-79@1x.webp"></div>
          <div class="recipe-card__info">
            <span class="recipe-card__name">Τηγανητό ρύζι με κοτόπουλο</span>
            <img class="recipe-card__arrow" src="/img/path-76@1x.webp" alt="→" />
          </div>
        </div>
        <div class="recipe-card">
          <div class="recipe-card__image" data-bg="/img/group-81@1x.webp"></div>
          <div class="recipe-card__info">
            <span class="recipe-card__name">Brownies with a twist</span>
            <img class="recipe-card__arrow" src="/img/path-76@1x.webp" alt="→" />
          </div>
        </div>
        <div class="recipe-card">
          <div class="recipe-card__image" data-bg="/img/group-85@1x.webp"></div>
          <div class="recipe-card__info">
            <span class="recipe-card__name">Ρυζογκοφρέτα με Cottage Cheese, Μέλι και Κανέλα</span>
            <img class="recipe-card__arrow" src="/img/path-76@1x.webp" alt="→" />
          </div>
        </div>
        <div class="recipe-card">
          <div class="recipe-card__image" data-bg="/img/group-83@1x.webp"></div>
          <div class="recipe-card__info">
            <span class="recipe-card__name">Πέστο κόκκινης πιπεριάς και κοτόπουλο</span>
            <img class="recipe-card__arrow" src="/img/path-76@1x.webp" alt="→" />
          </div>
        </div>
      </div>
      <div class="recipes-section__cta">
        <a href="#" class="cta-btn cta-btn--dark">
          <span>ΟΛΕΣ ΟΙ ΣΥΝΤΑΓΕΣ</span>
          <img class="btn-texture" src="/img/mask-group-2-1@1x.webp" alt="" />
        </a>
      </div>
    </section>

    <!-- ===== EVENTS SECTION ===== -->
    <section class="events-section" id="events">
      <div class="events-section__bg"></div>
      <div class="events-section__content">
        <div class="events-section__text">
          <p class="events-section__heading bold-21">
            Η NUTRI VALLEY ΤΑΞΙΔΕΥΕΙ ΠΑΝΤΟΥ. ΕΛΑΤΕ ΝΑ ΓΝΩΡΙΣΤΟΥΜΕ ΣΕ ΚΑΠΟΙΟ EVENT ΜΑΣ!
          </p>
          <p class="events-section__desc regular-17">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, euismod&nbsp;&nbsp;quis notrud
            exerci tation ulorper suscipit lobortis nisl ut aliquip.
          </p>
        </div>
        <div class="events-section__cta">
          <a href="#" class="cta-btn cta-btn--white">
            <span>ΟΛΑ ΤΑ EVENTS</span>
          </a>
        </div>
        <div class="events-section__photos">
          <div class="events-photo events-photo--1" data-bg="/img/group-70@1x.webp"></div>
          <div class="events-photo events-photo--2" data-bg="/img/group-72@1x.webp"></div>
          <div class="events-photo events-photo--3" data-bg="/img/group-74@1x.webp"></div>
        </div>
      </div>
    </section>

    <!-- ===== BLOG SECTION ===== -->
    <section class="blog-section" id="blog">
      <div class="blog-section__cards">
        <div class="blog-card">
          <div class="blog-card__image" data-bg="/img/group-89@1x.webp"></div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">ΓΙΑΤΙ ΝΑ ΕΠΙΛΕΞΕΤΕ ΤΟ ΦΙΛΕΤΟ ΚΟΤΟΠΟΥΛΟ ΤΗΣ NUTRI VALLEY</h3>
            <p class="blog-card__excerpt">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, euismod quis notrud exerci.
            </p>
          </div>
        </div>
        <div class="blog-card">
          <div class="blog-card__image" data-bg="/img/group-91@1x.webp"></div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">ΒΙΩΣΙΜΟΤΗΤΑ ΤΗΣ NUTRI VALLEY</h3>
            <p class="blog-card__excerpt">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, euismod quis notrud exerci.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ===== FOOTER ===== -->
    <footer class="footer" id="contact">
      <div class="footer__inner">
        <div class="footer__left">
          <div class="footer__logo">
            <img class="footer__logo-leaf" src="/img/path-38@1x.webp" alt="Nutri Valley Leaf" />
            <img class="footer__logo-text" src="/img/group-27@1x.webp" alt="Nutri Valley" />
            <img class="footer__logo-dot" src="/img/path-50@1x.webp" alt="" />
          </div>
          <p class="footer__copyright">© Nutri Valley 2025. All Rights Reserved</p>
        </div>
        <div class="footer__right">
          <div class="footer__top-row">
            <div class="footer__icons-col">
              <img class="footer__icon footer__icon--phone" src="/img/path-82@1x.webp" alt="Phone" width="16" height="16" />
              <div class="footer__icon--email-wrap">
                <div class="footer__icon--email-border"></div>
                <img class="footer__icon--email-line" src="/img/path-83@1x.webp" alt="" />
              </div>
              <div class="footer__icon--location-wrap">
                <img class="footer__icon--location-path" src="/img/path-84@1x.webp" alt="" />
                <div class="footer__icon--location-dot"></div>
              </div>
            </div>
            <div class="footer__info-row">
              <div class="footer__contact">
                +30 212 000 1022<br>info@nutrivalley.gr<br>Ικαρίας 16, Κηφισιά, ΤΚ 14562
              </div>
              <div class="footer__legal">
                <a href="#">Όροι Χρήσης</a><br>
                <a href="#">Πολιτική Απορρήτου</a><br>
                <a href="#">Πολιτική Cookies</a>
              </div>
            </div>
          </div>
          <div class="footer__bottom-row">
            <span class="footer__powered">Powered by Thinktank</span>
            <div class="footer__social-links">
              <a href="#" class="footer__social-link">Facebook</a>
              <a href="#" class="footer__social-link">Instagram</a>
              <a href="#" class="footer__social-link footer__social-link--kids">Facebook Kids</a>
              <a href="#" class="footer__social-link footer__social-link--kids">Instagram Kids</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__attribution">
        By ThinkTank Digital Marketing Agency
      </div>
    </footer>
  </div>

  <!-- ===== JAVASCRIPT ===== -->
  <script>
    // Hero Slider
    const heroTrack = document.getElementById('heroTrack');
    const heroLeft = document.getElementById('heroLeft');
    const heroRight = document.getElementById('heroRight');
    let currentSlide = 0;

    function goToSlide(index) {
      currentSlide = index;
      heroTrack.className = `hero-slider__track slide-${index + 1}`;
    }

    heroRight?.addEventListener('click', () => {
      goToSlide(currentSlide === 0 ? 1 : 0);
    });

    heroLeft?.addEventListener('click', () => {
      goToSlide(currentSlide === 0 ? 1 : 0);
    });

    // Auto-slide every 5 seconds
    setInterval(() => {
      goToSlide(currentSlide === 0 ? 1 : 0);
    }, 5000);

    // Mega Menu
    const productsBtn = document.getElementById('productsBtn');
    const megaMenu = document.getElementById('megaMenu');
    const megaOverlay = document.getElementById('megaOverlay');

    function toggleMegaMenu() {
      const isActive = megaMenu.classList.contains('active');
      if (isActive) {
        megaMenu.classList.remove('active');
        megaOverlay.classList.remove('active');
        productsBtn.classList.remove('active');
      } else {
        megaMenu.classList.add('active');
        megaOverlay.classList.add('active');
        productsBtn.classList.add('active');
      }
    }

    productsBtn?.addEventListener('click', toggleMegaMenu);
    megaOverlay?.addEventListener('click', () => {
      megaMenu.classList.remove('active');
      megaOverlay.classList.remove('active');
      productsBtn.classList.remove('active');
    });

    // Close mega menu when clicking outside it
    document.addEventListener('click', (e) => {
      if (megaMenu.classList.contains('active')) {
        if (!megaMenu.contains(e.target) && !productsBtn.contains(e.target)) {
          megaMenu.classList.remove('active');
          megaOverlay.classList.remove('active');
          productsBtn.classList.remove('active');
        }
      }
    });

    // Mega menu category hover
    const categories = document.querySelectorAll('.mega-menu__category');
    const megaRightAdults = document.getElementById('megaRightAdults');
    const megaRightKids = document.getElementById('megaRightKids');
    const megaSubcats = document.getElementById('megaSubcats');

    categories.forEach(cat => {
      cat.addEventListener('mouseenter', () => {
        categories.forEach(c => c.classList.remove('active'));
        cat.classList.add('active');
        const isKids = cat.dataset.category === 'kids';
        if (megaRightAdults) megaRightAdults.style.display = isKids ? 'none' : 'block';
        if (megaRightKids) megaRightKids.style.display = isKids ? 'block' : 'none';
        if (megaSubcats) megaSubcats.style.display = isKids ? 'none' : 'flex';
      });
    });

    // Adult Products Slider Arrows
    const adultCards = document.getElementById('adultCards');
    const adultLeft = document.getElementById('adultLeft');
    const adultRight = document.getElementById('adultRight');
    const scrollAmount = 350;

    adultRight?.addEventListener('click', () => {
      adultCards?.scrollBy({ left: scrollAmount, behavior: 'smooth' });
    });

    adultLeft?.addEventListener('click', () => {
      adultCards?.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
    });

    // Lazy load background images via Intersection Observer
    const lazyBgs = document.querySelectorAll('[data-bg]');
    const bgObserver = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const el = entry.target;
          el.style.backgroundImage = `url('${el.dataset.bg}')`;
          el.removeAttribute('data-bg');
          bgObserver.unobserve(el);
        }
      });
    }, { rootMargin: '200px' });
    lazyBgs.forEach(el => bgObserver.observe(el));

    // Smooth scroll for anchor links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        const target = document.querySelector(this.getAttribute('href'));
        if (target) {
          e.preventDefault();
          target.scrollIntoView({ behavior: 'smooth' });
        }
      });
    });
  </script>
</Layout>
