---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Nutri Valley - Υγιεινές και απολαυστικές επιλογές για όλες τις ηλικίες" } = Astro.props;
---
<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=TikTok+Sans:wght@400;500;700&subset=greek&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/img/path-51-1@1x.png" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
